
 
 
#slideshow #slideshowWindow {
	width:1000px;
	height:700px;
	margin:0;
	padding:0;
	overflow:hidden;
    position: absolute;
    top: 65%;
    right:0;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
#slideshow #slideshowWindow .slide {
	margin-left:500px;
	padding:0;
	width:500px; 
	height:700px;
	position:relative;
}
 
#slideshow #slideshowWindow .slide .slideText {
	position:absolute;
	top:130px;
	right:500px;
	width:100%;
	height:130px;
	margin:0;
	padding:0;
	color:#000;
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
}
 
#slideshow #slideshowWindow .slide .slideText a:link, #slideshow #slideshowWindow .slide .slideText a:visited {
	color:#ffffff;
	text-decoration:none;
}
 
#slideshow #slideshowWindow .slide .slideText h2, #slideshow #slideshowWindow .slide .slideText p {
	margin:10px 0 0 10px;
	padding:0;
}
 
/*Navigation*/
.nav {
	display:block;
	text-indent:-10000px;
	position:absolute;
	cursor:pointer;
}
 
#leftNav {
	top:750px;
	left:785px;
	width:94px;
	height:34px;
	background-image:url(../img/previous.png);
	background-repeat:no-repeat;
	z-index:999;
}
 
#rightNav {
	top:752px;
	left:650px;
	width:53px;
	height:26px;
	background-image:url(../img/next.png);
	background-repeat:no-repeat;
	z-index:999;
}

.slide h2, 
.slide h3 {
    text-align: center;
}
 
.slide h3 {
    margin: -20px 0 0 45px;
}

